services:
  db:
    image: ankane/pgvector:latest
    container_name: procuremind_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: procuremind
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
